:root {
  /* fonts */
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  /* colors */
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --text-color: #272142;
}

html {
  font-size: 62.5%;
}

p {
  font-family: var(--default-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
  opacity: 70%;
}

h1, 
h2,
h3 {
  font-family: var(--heading-font);
  color: #000;
}

/* home page header */

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 27.6rem 0 27.1rem;
}

.hero p {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--text-color);
  opacity: 100%;
}

.hero h2 {
  font-family: var(--default-font);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2;
  color: #272142;
}

.title {
  font-size: 9.6rem;
  font-weight: 700;
}

.btn {
  font-family: var(--default-font);
  font-weight: 500;
  border-radius: 4px;
  padding: 18px 30px;
}

.btn-branding {
  background: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
}

/* homepage main */

.row {
  margin-bottom: 70px;
}

.projects {
  margin-block: 12.7rem 8.2rem;
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: normal;
  opacity: 100%;
}

.btn-branding-outline {
  color: var(--primary-color);
  font-size: 1.6rem;
  border: 1px solid var(--primary-color);
}

.project-description {
  padding: 95px 61px;
}

.project-title {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 55px;
}


/* aboutpage  */
.content-container  {
  padding: 25.9rem 14rem 0 12.6rem;
}

.content-container  .title {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: normal;
}

.content-container .subtitle {
  font-size: 1.8rem;
  font-family: var(--default-font);
  font-weight: 700;
}


/* work page */

.content-container h3 {
  font-family: var(--default-font);
  font-size: 2.4rem;
  font-weight: 700;
  margin: 1.6rem 0 0.9rem 0;
}

.content-container p {
  font-size: 1.4rem;
}

.content-container .work-heading {
  padding-bottom: 10.3rem;
}



/* media querie */
@media (max-width: 995px) {

  /* homepage */
  .hero {
    padding: 9.6rem 0 9.1rem;

  }

  .hero .title {
    font-size: 4.5rem;
    line-height: 2;
  }

  .hero p {
    font-size: 2.5rem;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .projects {
    font-size: 1.7rem;
    margin: 6rem 2rem;
  }
  
  .project-description {
    padding: 0 15px;
    text-align: center;
  }
  
  .project-title {
    font-size: 3.6rem;
  }

  /* about page*/

  .content-container {
    text-align: center;
    padding: 3rem 1rem;
  }

  .content-container .title {
    font-size: 5.5rem;
  }

}