:root {
  /* fonts */
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  /* colors */
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --text-color: #272142;
}

html {
  font-size: 62.5%;
}

p {
  font-family: var(--default-font);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px;
  opacity: 70%;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  color: #000;
}

a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

/* navigation bar */
.logo {
  max-height: 40px;
}

nav {
  /* padding: 4rem 0 0; */
  padding-block: 4rem 17.7rem;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  font-family: var(--default-font);
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 25px;
}

nav > ul > li a {
  color: var(--text-color);
}

nav ul > li a:hover,
nav > ul > li a.active {
  color: var(--primary-color);
}


/* home page header */
.header-wrapper {
  background: var(--secondary-color);
}

.hero {
  text-align: center;
  /* padding: 27.6rem 0 27.1rem; */
  padding-bottom: 27.1rem;
}

.hero p {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--text-color);
  opacity: 100%;
}

.hero h2 {
  font-family: var(--default-font);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2;
  color: #272142;
}

.title {
  font-size: 9.6rem;
  font-weight: 700;
}

.btn {
  font-family: var(--default-font);
  font-weight: 500;
  border-radius: 4px;
  padding: 18px 30px;
}

.btn-branding {
  background: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
}

/* homepage main */

.row {
  margin-bottom: 70px;
}

.projects {
  margin-block: 12.7rem 8.2rem;
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: normal;
  opacity: 100%;
}

.btn-branding-outline {
  color: var(--primary-color);
  font-size: 1.6rem;
  border: 1px solid var(--primary-color);
}

.project-description {
  padding: 95px 61px;
}

.project-title {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 55px;
}

.content-container {
  /* padding: 17.7rem 14rem 0; */
  padding-inline: 14rem;
}

/* aboutpage  */
.content-container .title {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: normal;
}

.content-container .subtitle {
  font-size: 1.8rem;
  font-family: var(--default-font);
  font-weight: 700;
}

/* work page */

.content-container h3 {
  font-family: var(--default-font);
  font-size: 2.4rem;
  font-weight: 700;
  margin: 1.6rem 0 0.9rem 0;
}

.content-container p {
  font-size: 1.4rem;
}

.content-container .work-heading {
  padding-bottom: 10.3rem;
}


/* footer section */
footer {
  margin-block: 13.2rem;
}

footer .email-link {
  font-family: var(--default-font);
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links {
  margin-top: 4.1rem;
}

footer .social-links i {
  margin-inline: 2rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border-radius: 50%;
  color: var(--primary-color);
  background: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

footer .social-links i:hover {
  color: #fff;
  background: var(--primary-color);
}

footer .cta {
  background: var(--secondary-color);
  padding: 4.9rem 11.6rem;
  border-radius: 20px;
  margin-bottom: 8.1rem;
}

footer .cta h3 {
  font-family: var(--heading-font);
  font-size: 4.8rem;
  font-weight: 700;
}

footer .cta p,
footer .cta a {
  font-size: 1.8rem;
  margin: 0;
}

footer .github-repo {
  font-size: 1.6rem;
}

footer .github-repo a {
  color: var(--primary-color);
}

/* media querie */
@media (max-width: 995px) {
  /* homepage */
  .hero {
    padding: 9.6rem 0 9.1rem;
  }

  .hero .title {
    font-size: 4.5rem;
    line-height: 2;
  }

  .hero p {
    font-size: 2.5rem;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .projects {
    font-size: 1.7rem;
    margin: 6rem 2rem;
  }

  .project-description {
    padding: 0 15px;
    text-align: center;
  }

  .project-title {
    font-size: 3.6rem;
  }

  /* about page*/

  .content-container {
    text-align: center;
    padding: 3rem 1rem;
  }

  .content-container .title {
    font-size: 5.5rem;
  }

  /* footer */

  footer .email-link {
    font-size: 2.2rem;
  }

  footer .github-repo a {
    padding-inline: 3rem;
  }
}
